.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  white-space: normal;
}

.popup {
  border: #000000;
  position: fixed;
  top: 15%;
  left: 15%;
  width: 75%;
  height: 75%;
  z-index: 10;
  transform: translateZ(0);
  background-color: #969696;
  overflow-y:auto
}

.popupMain label {
  font-family: Montserrat-Medium;
  color: rgb(0, 0, 0);
  line-height: 4;
  width: 25%;
  font-size: 14px;
  text-transform:uppercase; 
  font-weight: bold;
  display:block;
  float:left;
  text-align: center;
  
}

.popupMain input {
  height: 25px;
  width: 60%;
  margin-bottom: 25px;
  padding: 0 8px;
  border: 1px solid rgba(254,254,254,.3);

}

.submit {

}


input {
  margin: 10px 10px 10px; 
  background: rgb(255, 255, 255);
  background: #E6E4E4;
  color: #000000;
  
}

.tablediv {
  overflow-x:scroll;
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );  
  background: rgba( 71, 147, 227, 1);
  max-width: 95vw;
  max-height: 95vh;
  
}

.popupHide {
  visibility: hidden;
}

table {
  border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #fff;
}

th {
  font-family: Montserrat-Medium;
  color: #fff;
  line-height: 4;
  width: 10px;
  background-color: #333333;
  font-size: 14px;
  text-transform:uppercase; 
  text-decoration: none;
  border: none;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

tr:nth-child(even) {
  background: #b3cfa6;
}

tr:nth-child(odd) {
  background: #ffffff;  
}

td {
  font-family: Montserrat-Regular;
  text-align: center;
  padding: 8px;    
  color: #808080;
  font-size: 14px;
  line-height: 1.4;
}

td:hover {  
  background-color: #83d160;
  color: #fff;
}




@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}
